# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Production builds
/dist/
/build/
/web-build/

# Expo
.expo/
.expo-shared/
.expo-web/
.expo-metro-config/
.expo-metro-cache/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
*.apk
*.aab
*.ipa
*.dSYM.zip
*.dSYM

# Metro
.metro-health-check*
.metro-cache/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/
*.lcov

# nyc test coverage
.nyc_output

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*.pem

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*

# IDE
.vscode
.vscode/
.idea/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# App example/test files
app-example/
test-app/

# Expo updates
.expo-updates/

# Android
android
android/app/build/
android/.gradle/
android/.idea/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/*.iml

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcodeproj/project.xcworkspace/xcuserdata
ios/Podfile.lock

# Temporary folders
tmp/
temp/